*.iml
*.swo
*.swp
*.tfstate
*.tfstate.backup
*~
/.idea
/commit_log
/coverage.txt
/createtree
/ct_hammer
/ct_server
/dump_tree
/etcdiscover
/loglb
/maphammer
/protoc
/trillian_log_server
/trillian_log_signer
/trillian_map_server
default.etcd
