/.idea
/createtree
/ct_hammer
/ct_server
/dump_tree
/etcdiscover
/loglb
/protoc
/trillian_log_server
/trillian_log_signer
/trillian_map_server
/commit_log
*.iml
*.swo
*.swp
*~
default.etcd
*.tfstate
*.tfstate.backup
