sudo: required # required to install softhsm for PKCS 11 tests
language: go

os:
  - linux
  - osx

go:
  - 1.8

env:
  - GOFLAGS=
  - GOFLAGS=-race
  - GOFLAGS=      WITH_ETCD=true
  - GOFLAGS=-race WITH_ETCD=true
  - GOFLAGS=      WITH_PKCS11=true

matrix:
  fast_finish: true
  allow_failures:
    - os: osx

install:
  - if [[ "${WITH_PKCS11}" == "true" ]]; then sudo apt-get install softhsm ; fi
  - |
    if [ ! -d $HOME/gopath/src/github.com/google ]; then
      mkdir -p $HOME/gopath/src/github.com/google
      ln -s $TRAVIS_BUILD_DIR $HOME/gopath/src/github.com/google/trillian
    fi
  - mkdir ../protoc
  - |
    (
      cd ../protoc
      wget https://github.com/google/protobuf/releases/download/v3.2.0/protoc-3.2.0-${TRAVIS_OS_NAME}-x86_64.zip
      unzip protoc-3.2.0-${TRAVIS_OS_NAME}-x86_64.zip
    )
  - export PATH=$(pwd)/../protoc/bin:$PATH
  # googleapis is not Go code, but it's required for .pb.go regeneration because of API dependencies.
  - git clone https://github.com/googleapis/googleapis.git $GOPATH/src/github.com/googleapis/googleapis
  - go get -d -t ./...
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then brew update > /dev/null && brew install mariadb && mysql.server start; fi
  - go get -u github.com/client9/misspell/cmd/misspell
  - go get -u github.com/fzipp/gocyclo
  - go get -u github.com/gordonklaus/ineffassign
  - go get -u github.com/golang/lint/golint
  - go get -u github.com/golang/protobuf/proto
  - go get -u github.com/golang/protobuf/protoc-gen-go
  - go get -u github.com/kisielk/errcheck
  - go get -u golang.org/x/tools/cmd/stringer
  - go get -u github.com/google/certificate-transparency-go
  - go get -d -t github.com/google/certificate-transparency-go/...
  - go install github.com/golang/{mock/mockgen,protobuf/protoc-gen-go}
  # install vendored protoc-gen-grpc-gateway binary
  - go install ./vendor/github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway
  # install vendored etcd binary
  - go install ./vendor/github.com/coreos/etcd/cmd/etcd
  - go install ./vendor/github.com/coreos/etcd/cmd/etcdctl

script:
  - set -e
  - cd $HOME/gopath/src/github.com/google/trillian
  - ./scripts/presubmit.sh
  - |
      # Check re-generation didn't change anything
      # Skip protoc-generated files (.pb.go) because protoc is not deterministic
      # when generating file descriptors.
      status=$(git status --porcelain | grep -v .pb.go | grep -v _string.go) || :
      if [[ -n ${status} ]]; then
        echo "Regenerated files differ from checked-in versions: ${status}"
        git status
        git diff
        exit 1
      fi
  - |
      if [[ "${WITH_ETCD}" == "true" ]]; then
        export ETCD_DIR="${GOPATH}/bin"
      fi
  - ./integration/integration_test.sh
  - cd $HOME/gopath/src/github.com/google/certificate-transparency-go
  - ./trillian/integration/integration_test.sh
  - set +e

services: mysql

before_script:
  - yes | ./scripts/resetdb.sh
