sudo: required # required to install softhsm for PKCS 11 tests
language: go

os:
  - linux

go:
  - 1.9.x

env:
  -
  - TRILLIAN_SQL_DRIVER=mysql WITH_COVERAGE=true
  - GOFLAGS='-race' TRILLIAN_SQL_DRIVER=mysql
  - GOFLAGS='-race --tags batched_queue' TRILLIAN_SQL_DRIVER=mysql
  - GOFLAGS='-race' TRILLIAN_SQL_DRIVER=mysql WITH_ETCD=true
  - GOFLAGS='-race --tags pkcs11' TRILLIAN_SQL_DRIVER=mysql WITH_PKCS11=true

matrix:
  fast_finish: true
  allow_failures:
    - os: osx
  include:
    - os: osx  # Run only "vanilla" tests on osx
      env:

services: mysql

install:
  - if [[ "${WITH_PKCS11}" == "true" ]]; then sudo apt-get install -y softhsm ; fi
  - |
    if [ ! -d "$HOME/gopath/src/github.com/google" ]; then
      mkdir -p "$HOME/gopath/src/github.com/google"
      ln -s "$TRAVIS_BUILD_DIR" "$HOME/gopath/src/github.com/google/trillian"
    fi
  - mkdir ../protoc
  - |
    (
      cd ../protoc
      wget "https://github.com/google/protobuf/releases/download/v3.2.0/protoc-3.2.0-${TRAVIS_OS_NAME}-x86_64.zip"
      unzip "protoc-3.2.0-${TRAVIS_OS_NAME}-x86_64.zip"
    )
  - export PATH="$(pwd)/../protoc/bin:$PATH"
  # googleapis is not Go code, but it's required for .pb.go regeneration because of API dependencies.
  - git clone --depth=1 https://github.com/googleapis/googleapis.git "$GOPATH/src/github.com/googleapis/googleapis"
  - go get ${GOFLAGS} -d -t ./...
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update > /dev/null && brew install mariadb && mysql.server start; fi
  - go get github.com/golang/protobuf/proto
  - go get github.com/golang/protobuf/protoc-gen-go
  - go get golang.org/x/tools/cmd/stringer
  - go get github.com/google/certificate-transparency-go
  - go get -d -t github.com/google/certificate-transparency-go/...
  - go install github.com/golang/{mock/mockgen,protobuf/protoc-gen-go}
  - go get github.com/alecthomas/gometalinter
  - gometalinter --install
  # install vendored protoc-gen-grpc-gateway binary
  - go install ./vendor/github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway
  # install vendored etcd binary
  - go install ./vendor/github.com/coreos/etcd/cmd/etcd
  - go install ./vendor/github.com/coreos/etcd/cmd/etcdctl

before_script:
  - yes | ./scripts/resetdb.sh

script:
  - set -e
  - cd "$HOME/gopath/src/github.com/google/trillian"
  - export GO_TEST_TIMEOUT=20m
  - ./scripts/presubmit.sh ${WITH_COVERAGE:+--coverage}
  - |
      # Check re-generation didn't change anything
      # Skip protoc-generated files (.pb.go) because protoc is not deterministic
      # when generating file descriptors.
      status=$(git status --porcelain | grep -v .pb.go | grep -v _string.go | grep -v coverage.txt) || :
      if [[ -n ${status} ]]; then
        echo "Regenerated files differ from checked-in versions: ${status}"
        git status
        git diff
        exit 1
      fi
  - |
      if [[ "${WITH_ETCD}" == "true" ]]; then
        export ETCD_DIR="${GOPATH}/bin"
      fi
  - |
      if [[ "${TRILLIAN_SQL_DRIVER}" == 'mysql' ]]; then
        ./integration/integration_test.sh
        cd "$HOME/gopath/src/github.com/google/certificate-transparency-go"
        ./trillian/integration/integration_test.sh
        cd $HOME/gopath/src/github.com/google/trillian
        HAMMER_OPTS="--operations=50" ./integration/maphammer.sh 3
      fi
  - set +e

after_success:
  - |
      if [[ -f /tmp/coverage.txt ]]; then
        cp /tmp/coverage.txt .
        bash <(curl -s https://codecov.io/bash)
      fi
