sudo: false
language: go

go:
  - 1.6.2

install:
  - go get -d -v ./...

script:
  - go build -v ./...
  - go test -v ./...

services: mysql

before_script:
  - mysql -u root -e 'DROP DATABASE IF EXISTS test;'
  - mysql -u root -e 'CREATE DATABASE test;'
  - mysql -u root -e "GRANT ALL ON test.* TO 'test'@'localhost' IDENTIFIED BY 'zaphod';" 
  - mysql -u root -D test < storage/mysql/storage.sql

