version: '3'
services:
  db:
    image: mariadb:10.1
    environment:
      - MYSQL_ROOT_PASSWORD=$DB_PASSWORD
  trillian-db-seed:
    build:
      context: ../..
      dockerfile: ./examples/deployment/docker/db_client/Dockerfile
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=$DB_PASSWORD
    command: ./wait-for-it.sh -t 0 db:3306 -- ./scripts/resetdb.sh --verbose --force

  trillian-log-server:
    build:
      context: ../..
      dockerfile: examples/deployment/docker/log_server/Dockerfile
      args:
        - GOFLAGS
    command: [
      "--storage_system=mysql",
      "--mysql_uri=test:zaphod@tcp(mysql:3306)/test",
      "--rpc_endpoint=0.0.0.0:8090",
      "--http_endpoint=0.0.0.0:8091",
      "--alsologtostderr",
    ]
    restart: always # retry while mysql is starting up
    ports:
      - "8090:8090"
      - "8091:8091"
    depends_on:
<<<<<<< HEAD
      - mysql
=======
      - db
    environment:
      - DB_USER=root
      - DB_PASSWORD=$DB_PASSWORD
    # can't use service's `environment` variables in `command`
    # could use environment variables from the shell (!) in `command`
    command:
      - --mysql_uri=test:zaphod@tcp(db:3306)/test
      - --storage_system=mysql
      - --http_endpoint=0.0.0.0:8091
      - --rpc_endpoint=0.0.0.0:8090
      - --alsologtostderr

>>>>>>> 8e4c86bfbbfbee4ad65c3d03808814051323d500
  trillian-log-signer:
    build:
      context: ../..
      dockerfile: examples/deployment/docker/log_signer/Dockerfile
      args:
        - GOFLAGS
    command: [
      "--storage_system=mysql",
      "--mysql_uri=test:zaphod@tcp(mysql:3306)/test",
      "--rpc_endpoint=0.0.0.0:8090",
      "--http_endpoint=0.0.0.0:8091",
      "--force_master",
      "--alsologtostderr",
    ]
    restart: always # retry while mysql is starting up
    ports:
      - "8092:8091"
    depends_on:
<<<<<<< HEAD
      - mysql

=======
      - db
    environment:
      - DB_USER=root
      - DB_PASSWORD=$DB_PASSWORD
    # can't use service's `environment` variables in `command`
    # could use environment variables from the shell (!) in `command`    
    command:
      - --mysql_uri=test:zaphod@tcp(db:3306)/test
      - --storage_system=mysql
      - --http_endpoint=0.0.0.0:8091
      - --sequencer_guard_window=0s
      - --sequencer_interval=300ms
      - --num_sequencers=10
      - --batch_size=2000
      - --force_master=true
      - --alsologtostderr
>>>>>>> 8e4c86bfbbfbee4ad65c3d03808814051323d500
