name: govulncheck

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  govulncheck_job:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1.0.1
        with:
           go-version-input: 1.20
           go-package: ./...
